/* #region Essentials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flex {
    display: flex;
}

body {
    /* this is temporary */
    max-width: 1440px;
}

/* #endregion */

/* #region Debug */

.debug header {
    background-color: chocolate;
    /* width: 84vw; */
    width: calc(100vw - 230px);
    height: 8vh;
    position: absolute;
    top: 0;
    left: 230px;
}

.debug aside {
    background-color: brown;
    position: relative;
    width: 230px;
    height: 100vh;
    z-index: 2;
}

.debug .artists {
    background-color: crimson;
    overflow-y: scroll;
    width: calc(100vw - 230px);
    height: 84vh;
    position: absolute;
    top: 8vh;
    left: 230px;
}

.debug footer {
    background-color: cadetblue;
    width: calc(100vw - 230px);
    height: 8vh;
    position: absolute;
    left: 230px;
    bottom: 0;
}

/* #endregion */

/* #region Prefab */

/* #endregion */