/* #region Essentials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flex {
    display: flex;
}

body {
    /* this is temporary */
    max-width: 1440px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* #endregion */

/* #region Utility */

/* #region Float */

.f-l {
    float: left;
}

/* #endregion */

/* #endregion */

/* #region Debug */

.debug header {
    background-color: chocolate;
    /* width: 84vw; */
    width: calc(100vw - 230px);
    height: 8vh;
    position: absolute;
    top: 0;
    left: 230px;
}

.debug aside {
    background-color: brown;
    position: relative;
    width: 230px;
    height: 92vh;
    z-index: 2;
}

.debug .artists {
    background-color: crimson;
    overflow-y: scroll;
    width: calc(100vw - 230px);
    height: 84vh;
    position: absolute;
    top: 8vh;
    left: 230px;
}

.debug footer {
    background-color: cadetblue;
    width: 100vw;
    height: 8vh;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* #endregion */

/* #region Header */

header {
    background-color: #080B12;
    width: calc(100vw - 230px);
    height: 8vh;
    line-height: 8vh;
    position: absolute;
    top: 0;
    left: 230px;
    justify-content: flex-end;
    align-items: center;
}

.upgrade_btn {
    margin-right: 15px;
}

.btn {
    padding: .5rem 1rem;
    border: 1px solid white;
    border-radius: 20px;
}

a.btn {
    text-decoration: none;
    color: white;
    font-size: .75rem;
}

/* #endregion */

/* #region Aside */

aside {
    background-color: black;
    position: relative;
    width: 230px;
    height: 92vh;
    justify-content: space-between;
    padding: 1rem;
}

aside.flex, .spotify_commands {
    flex-direction: column;
}

.spotify_commands {
    justify-content: space-between;
    height: 50%;
}

.commands div {
    justify-content: flex-start;
    align-items: center;
}

.cmd_img img {
    width: 25px;
}

.cmd_text {
    color: white;
    line-height: 100%;
}

.logo {
    width: 80%;
}

.logo img {
    width: 100%;
}

dl dd {
    padding: .3rem 0;
}

dl dd:first-of-type, .install, .user {
    align-items: center;
}

dl dd:first-of-type span {
    padding-left: .5rem;
}

.user_zone {
    font-size: .8rem;
}

.install img {
    width: 13px;
}

.install {
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.user_circle, .install_img {
    padding: 0 .2rem;
}

.user_circle img {
    background-color: gray;
    width: 25px;
    border-radius: 50%;
}

.user span {
    font-weight: bold;
}

/* #endregion */

/* #region Artists */

.artists {
    background-color: #141922;
    overflow-y: scroll;
    width: calc(100vw - 230px);
    height: 84vh;
    position: absolute;
    top: 8vh;
    left: 230px;
}

/* #endregion */

/* #region Footer */

footer {
    background-color: #282828;
    width: 100vw;
    height: 8vh;
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: space-between;
    padding: .75rem;
}

.song_thumb {
    width: 10%;
    justify-content: space-between;
}

.band_img img {
    height: 100%;
}

/* #endregion */

/* #region Prefab */

/* #endregion */

/* #region Prefab */

/* #endregion */

/* #region Prefab */

/* #endregion */

/* #region @media */

@media screen and (max-width: 320px) {
    aside {
        width: 50px;
    }
    header, .artists {
        width: calc(100vw - 50px);
        left: 50px;
    }
}

/* #endregion */